{% extends 'hom4.html' %}
{% block page_title %}Update Subject{% endblock page_title %}
{% block main_content %}
<style>
  body{
    margin:0;
    padding:0;
    background-color:white;
  }
  .card-footer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;    
    
  }
  .card-footer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


  }
  .container{
    margin-top:40%;
  }
</style>
<div class="container">
  <div class="card-footer">
      <h1>Update Subject</h1>
      <form method="post" action="{% url 'subject_update' subjects.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Name of Subject</label>
            <input type="text" name="name" class="form-control" value="{{ subjects.name }}">
          </div>
          <input type="submit" class="btn btn-block btn-success">
      </form>
  </div>
</div>
{% endblock main_content %}
